# Dependency directories
/Flask_venv
/node_modules
/.pnp
.pnp.js

# Environment variables

.env.local

# Build directories
/build
/dist

# macOS specific files
.DS_Store

# Log files
*.log

# Coverage reports
/coverage
/backend/.idea

/backend/static
/frontend/public/static